<%- include('../../../partials/header.ejs') %> 

<div class="container my-container">
    <a class="btn btn-primary" href="/portfolio/update-details">Edit Details</a>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="lead">Nav Title : Samiul Bashar</h5><hr>
            <h5 class="lead">Title Name: Samiul Bashar</h5><hr>
            <h5 class="lead">Title Description: Samiul Bashar</h5><hr>
            <h5 class="lead">Fb : Samiul Bashar</h5><hr>
            <h5 class="lead">Git : Samiul Bashar</h5><hr>
            <h5 class="lead">LinkedIn : Samiul Bashar</h5><hr>
            <h5 class="lead">About Title : Samiul Bashar</h5><hr>
            <h5 class="lead">About Description : Samiul Bashar</h5><hr>
            <h5 class="lead">Service Description : Samiul Bashar</h5><hr>
            <h5 class="lead">Android Description : Samiul Bashar</h5><hr>
            <h5 class="lead">Wev Description : Samiul Bashar</h5><hr>
            <h5 class="lead">All Description : Samiul Bashar</h5><hr>
            <h5 class="lead">Email : Samiul Bashar</h5><hr>
        </div>
    </div>
</div>

<%- include('../../../partials/footer.ejs') %> 




    </body>
</html>